@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  background-color: #F6F8FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
    background-color: #141D2F;
  }
}

body {
  display: flex;
  justify-content: center;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.h2{
  @apply font-bold text-[26px] text-very-dark-grey dark:text-white; 
}

.p{
  @apply font-bold text-[13px] tracking-[2.5px] text-blue-grey dark:text-white;
}

.input-search{
  @apply bg-almost-white appearance-none py-4 px-12 text-[13px] font-medium  leading-[25px]  rounded-lg  shadow-sm placeholder:text-blue-grey dark:text-white md:text-[18px];
}
.button{
  @apply px-4 py-2 bg-blue text-white text-[16px] font-bold rounded-lg hover:bg-blue-hover;
}